
    

          <!--<h6 *ngIf="isLoggedIn()"
          class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline" style="color: rgb(0, 0, 0);">
          {{name}}
          <button type="button" class="btn btn-danger" style="color: black;" (click)="logout()">Logout</button>
        </h6>-->
        
<a
  class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold"
  href="#pablo"
  (click)="toggleDropdown($event)"
  #btnDropdownRef
>
  <i class="fas fa-user-circle text-blueGray-400 mr-2 text-sm" *ngIf="!isLoggedIn()"></i>
  
  <h6 *ngIf="isLoggedIn()"
  class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline" style="color: rgb(0, 0, 0);">
  {{name}}
  </h6>
  
</a>
<div
  class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-48"
  [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'"
  #popoverDropdownRef
>

<button type="button" class="btn btn-danger" style="color: black;" (click)="logout()"></button>

<a
  *ngIf="isLoggedIn()"
   (click)="logout()"
    class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
>
Logout
</a>
  <a
  *ngIf="!isLoggedIn()"
    [routerLink]="['/auth/login']"
    class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
  >
    Login
  </a>
  <a
  *ngIf="!isLoggedIn()"
    [routerLink]="['/auth/register']"
    class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
  >
    Register
  </a>

  
</div>

