app-index-navbar{
  margin-top: 50px;
  margin-bottom: 100px;
}

.content-wrapper {
  padding: 100px;
  
}


/* Add some margin to the bottom of the footer */
app-footer {
  margin-bottom: 50px;

}


.post-title, .post-date {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}


.post-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "header header"
    "image content";
}

.post-header {
  grid-area: header;
  display: flex;
  flex-direction: column;
}

.post-title {
  margin: 0;
}

.post-date {
  margin: 0;
  float: right;
}

.post-content-wrapper {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.post-image {
  width: 50%;
  height: 60%;

}

.post-content {
  margin-top: 20px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  float: left;
}

.post-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  float: right;
}

.post-comments {
  margin-top: 20px;
}

.box {
  border: 1px solid black;
  padding: 5px;
}






.post-actions button {
  padding: 10px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #4CAF50;
  cursor: pointer;
}

.post-actions button:hover {
  float: right;
  background-color: #3e8e41;
}

.post-actions button[disabled] {
  background-color: gray;
  pointer-events: none;
}
