<app-index-navbar></app-index-navbar>

<div class="content-wrapper">

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Recent Adoption Requests</h1>
      <hr>
      <!-- Add a search input field -->
      <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Search adoptions" style="width:80% ;">
        <input type="date" id="searchDate" name="searchDate" [(ngModel)]="searchDate" style="width:20%">
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="post-wrapper" *ngFor="let adoption of filteredAdoptions">
        <div class="post-header">
          <h3 class="post-title"><strong>{{ adoption.title }}</strong></h3>
        </div>
        <div class="post-image">
          <img [src]="getPictureUrl(adoption)" alt="Adoption Image" >
        </div>

        <div class="post-content box" style="background-color: #f8f8f8; border: 1px solid #ccc; border-radius: 5px; padding: 10px;">
          <p class="post-date" style="font-weight: bold; margin-bottom: 5px;">{{ adoption.cDate | date:'MMM d, yyyy' }}</p>
          <p style="margin-bottom: 5px;">{{ adoption.description }}</p>
          <p style="font-size: 16px; font-weight: bold;">{{ adoption.email }}</p>
        </div>
        

      
        <div class="post-footer">
          <div class="post-stats">
            
            <p><span class="post-stat">{{ adoption.nbLikes }}</span> Likes</p>

            <div class="post-actions">
              <button (click)="like(adoption.idAdoption)" [disabled]="likeClicked">Like</button>
              <button (click)="goToEmailFormPage()">Adopt</button>
              <button (click)="toggleComments(adoption.idAdoption)">Comment</button>
            </div>
            
          </div>
         
        </div>
        <div class="post-comments" *ngIf="showComments[adoption.idAdoption]">  
          <div *ngFor="let comment of adoption.comments">
            <p>{{ comment.text }}</p><small>{{ comment.cDate | date: 'medium' }}</small>
          </div>
          <form (ngSubmit)="addComment(adoption.idAdoption)">
            <textarea name="comment-text" [(ngModel)]="commentText"></textarea>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>