.chart-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 250px;
  }
  
  .bar {
    width: 50px;
    margin: 0 20px;
    background-color: #007bff;
    position: relative;
    transition: height 0.5s ease-out;
  }
  
  .bar .label {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #fff;
  }
  .chart-label {
    text-align: center;
    margin-top: 5px;
  }
    
  .red-button {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  