<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
  [ngClass]="color === 'light' ? 'bg-white' : 'bg-red-900 text-white'"
>
  <div class="rounded-t mb-0 px-4 py-3 border-0">
    <div class="flex flex-wrap items-center">
      <div class="container">



        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8">
          
              
        
              <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Search trainings" style="width:60% ">  
                <select class="form-control" id="pet-filter" [(ngModel)]="selectedPet">
                  <option value="">All</option>
                  <option value="Cat">Cats</option>
                  <option value="Dog">Dogs</option>
                </select>
                <button class="btn btn-info" (click)="createTraining()" class="btn btn-danger red-button" style="width:15% ">Create Training</button>
                <button class="btn btn-warning"  (click)="getReportedTrainings()" class="btn btn-danger red-button" style="width:15% ">Show Reported</button> 
              </div>
            </div>
          </div>
         
     


  

      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3
          class="font-semibold text-lg"
          [ngClass]="color === 'light' ? 'text-blueGray-700' : 'text-white'"
        >
          Users
        </h3>
      </div>
    </div>
  </div>
  <div class="block w-full overflow-x-auto">
    <!-- Projects table -->
    <table class="items-center w-full bg-transparent border-collapse">
      <thead>
        <tr>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]="
              color === 'light'? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100': 'bg-red-800 text-red-300 border-red-700'">
            Id
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]="
              color === 'light'? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100': 'bg-red-800 text-red-300 border-red-700'">
            Title
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]="
              color === 'light'? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100': 'bg-red-800 text-red-300 border-red-700'">
            Description
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]="
              color === 'light'? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100': 'bg-red-800 text-red-300 border-red-700'">
              duration
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]="color === 'light'? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100': 'bg-red-800 text-red-300 border-red-700'">
          Type
          </th>

          <th
          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          [ngClass]="color === 'light'? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100': 'bg-red-800 text-red-300 border-red-700'">
        Price
        </th>

          <th
          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          [ngClass]="color === 'light'? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100': 'bg-red-800 text-red-300 border-red-700'">
          Places 
        </th>

        <th
        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
        [ngClass]="color === 'light'? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100': 'bg-red-800 text-red-300 border-red-700'">
        Date 
      </th>

      
      <th
      class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
      [ngClass]="color === 'light'? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100': 'bg-red-800 text-red-300 border-red-700'">
      Reports 
    </th>

          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                : 'bg-red-800 text-red-300 border-red-700'"></th>
              </tr>
      </thead>



      <tbody>
        
        <tr *ngFor="let training of filteredTrainings |paginate:{itemsPerPage:4,currentPage:p};">
          <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center">
            {{ training.idTraining }}
            <span class="ml-3 font-bold" [ngClass]="color === 'light' ? 'text-blueGray-600' : 'text-white'"></span>
          </th>
      
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
            {{ training.title }}
          </td>
      
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
            {{ training.description }}
          </td>
      
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
            {{ training.duration }}
          </td>
      
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
            {{ training.type }}
          </td>
      
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
            {{ training.price }}
          </td>
      
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
            {{ training.nbrplaces }}
          </td>
      
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
            <div class="flex items-center">
              <span class="mr-2"> </span>
              <div class="relative w-full">  
                {{ training.cDate }}
              </div>
            </div>
          </td>
      
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
            <ul>
              <li *ngFor="let report of training.report">{{ report.message }}</li>
            </ul>
          </td>

          <td>
            <app-table-dropdown-training [training]="training"></app-table-dropdown-training>
          </td>
      
          </tr>

       

          
      </tbody>
      
    </table>
    <pagination-controls (pageChange)="p=$event"></pagination-controls>

  </div>
</div>
