<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                
                    <div class="card-header card-header-danger">
<h3  style="color:crimson;"> Article Details</h3>
<div>
    <div>
        <label><b style="color: brown;">Title: </b></label> {{article.title}}
    </div>
    <div>
        <label><b style="color: brown;">Content: </b></label> {{article.content}}
    </div>
    <div>
        <label><b style="color: brown;">Number of views: </b></label> {{article.nbviews}}
    </div>
    <div>
        <label><b style="color: brown;">Number of Likes: </b></label> {{article.nblike}}
        
    </div>
    <div>
        <label><b style="color: brown;">Number of Dislikes: </b></label> {{article.nbdislike}}
    </div>
    <div>
        <label><b style="color: brown;">Number of Comments: </b></label> {{article.nbcomments}}
    </div>
    <div>
        <label><b style="color: brown;">Media Attached: </b></label> <img [src]="article.imageUrl" alt="{{ article.title }}">
    </div>
    <div>
        <label><b style="color: brown;">Comments: </b></label> <ul>
            <li *ngFor="let comment of comments">
                <p>{{ comment.content }}</p>
            </li>
        </ul>
    </div> 
    
</div>
                    </div>
                </div>
            </div>
            </div>
            </div>
