
<app-index-navbar></app-index-navbar>
<section class="site-hero overlay page-inside" style="background-image: url(/assets/img/hero_2.jpg)">
    <div class="container">
      <div class="row site-hero-inner justify-content-center align-items-center">
        <div class="col-md-10 text-center">
          <h1 class="heading" >Our Hotel</h1>
          <p class="sub-heading mb-5" >Enjoy your stay.</p>
        </div>
      </div> 
    </div>
</section>
<div class="container-xxl py-5 animate__animated animate__fadeInUp" style="animation-delay: 0.1s;">
    <div class="container">
      <div class="booking p-5">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-5 items-center">
          <div class="text-white">
            <h6 class="text-white text-uppercase">Reservation</h6>
            <h1 class="text-white text-3xl md:text-4xl font-bold mt-4 mb-6">Online Reservation</h1>
            <p class="mb-6">Hello! We know your pet means the world to you, and we want to make sure they receive the best care possible.</p>
            <p class="mb-6"> So why not make a reservation today? We'll take care of everything, so you can relax and enjoy peace of mind knowing your furry friend is in good hands.</p>
            
          </div>
          <div>
            <h1 class="text-white text-3xl md:text-4xl font-bold mt-4 mb-6">Make a Reservation</h1>
            <form (ngSubmit)="onSubmit()" #form="ngForm">
              <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
                <div class="form-floating">
                  <input type="text" class="form-control bg-transparent border-b-2 border-gray-500 focus:border-black" id="name" placeholder="Your Name">
                  <label for="name">Your Name</label>
                </div>
                <div class="form-floating">
                  <input type="email" class="form-control bg-transparent border-b-2 border-gray-500 focus:border-black" id="email" placeholder="Your Email" [(ngModel)]="mail" required>
                  <label for="email">Your Email</label>
                </div>
                <div class="form-floating">
                  <input type="date" class="form-control bg-transparent border-b-2 border-gray-500 focus:border-black datetimepicker-input" placeholder="Date &amp; Time" data-target="#date3" data-toggle="datetimepicker" id="checkin" [(ngModel)]="reservation.checkin" min="" required>
                  <label for="date" >Check In</label>
                </div>
                <div class="form-floating">
                    <input type="date" class="form-control bg-transparent border-b-2 border-gray-500 focus:border-black datetimepicker-input" placeholder="Date &amp; Time" data-target="#date3" data-toggle="datetimepicker" id="checkout" [(ngModel)]="reservation.checkout" min="" required>
                    <label for="date">Check Out</label>
                </div>
                
                <div class="form-floating">
                  <textarea class="form-control bg-transparent border-b-2 border-gray-500 focus:border-black" placeholder="Special Request" style="height: 100px" id="specialrequest"name="specialrequests"  [(ngModel)]="reservation.specialrequests "></textarea>
                  <label for="message">Special Request</label>
                </div>
                <div>
                  <button class="btn btn-outline-light w-full py-3" type="submit" [disabled]="form.invalid" >Book Now</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  