<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
  [ngClass]="color === 'light' ? 'bg-white' : 'bg-red-900 text-white'"
>
  <div class="rounded-t mb-0 px-4 py-3 border-0">
    <div class="flex flex-wrap items-center">
      <div class="container">



      <!-- Add a search input field -->
      <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Search adoptions" style="width:70% ">
      <input type="date" id="searchDate" name="searchDate" [(ngModel)]="searchDate" style="width:10% ">
      <button (click)="createAdoption()" class="btn btn-danger red-button" style="width:20% ">Create an Adoption</button>
   


  

      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3
          class="font-semibold text-lg"
          [ngClass]="color === 'light' ? 'text-blueGray-700' : 'text-white'"
        >
          Adoptions
        </h3>
      </div>
    </div>
  </div>
  <div class="block w-full overflow-x-auto">
    <!-- Projects table -->
    <table class="items-center w-full bg-transparent border-collapse">
      <thead>
        <tr>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]="
              color === 'light'? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100': 'bg-red-800 text-red-300 border-red-700'">
            Id
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]="
              color === 'light'? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100': 'bg-red-800 text-red-300 border-red-700'">
            Title
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]="
              color === 'light'? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100': 'bg-red-800 text-red-300 border-red-700'">
            Description
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]="
              color === 'light'? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100': 'bg-red-800 text-red-300 border-red-700'">
            Email
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]="color === 'light'? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100': 'bg-red-800 text-red-300 border-red-700'">
          Location
          </th>

          <th
          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          [ngClass]="color === 'light'? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100': 'bg-red-800 text-red-300 border-red-700'">
        Date
        </th>

          <th
          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          [ngClass]="color === 'light'? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100': 'bg-red-800 text-red-300 border-red-700'">
         Picture 
        </th>

          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                : 'bg-red-800 text-red-300 border-red-700'"></th>
              </tr>
      </thead>

      <tbody>
        <tr  *ngFor="let adoption of filteredAdoptions|paginate:{itemsPerPage:4,currentPage:p};">
          <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center">
          {{ adoption.idAdoption }}
            <span
              class="ml-3 font-bold"
              [ngClass]="color === 'light' ? 'text-blueGray-600' : 'text-white'">
            </span>
          </th>

          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
            {{ adoption.title }}
          </td>

          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
            {{ adoption.description }}
          </td>

          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
            <div class="flex">
              {{ adoption.email }}
            </div>
          </td>

          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
            <div class="flex items-center">
              <span class="mr-2"> </span>
              <div class="relative w-full">  
                {{ adoption.location }}
              </div>
            </div>
          </td>


          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
            <div class="flex items-center">
              <span class="mr-2"> </span>
              <div class="relative w-full">  
                {{ adoption.cdate }}
              </div>
            </div>
          </td>

          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right">
            <img class="image"[src]="getPictureUrl(adoption)" alt="Adoption Image">
          </td>

          <td>
            <app-table-dropdown-adoption [adoption]="adoption"></app-table-dropdown-adoption>
          </td>

          
      
      </tbody>
    </table>
    <pagination-controls (pageChange)="p=$event"></pagination-controls>

  </div>
</div>
