<app-index-navbar></app-index-navbar>

<div class="email-form-wrapper">
  <form (ngSubmit)="sendEmail()" class="email-form">
    <div class="form-group">
      <label for="sender-email">From:</label>
      <input type="email" [(ngModel)]="details.senderEmail" name="senderEmail" id="sender-email" required>
    </div>

    <div class="form-group">
      <label for="recipient-email">To:</label>
      <input type="email" [(ngModel)]="details.recipient" name="recipient" id="recipient-email" required>
    </div>

    <div class="form-group">
      <label for="email-subject">Subject:</label>
      <input type="text" [(ngModel)]="details.subject" name="subject" id="email-subject" required>
    </div>

    <div class="form-group">
      <label for="email-message">Message:</label>
      <textarea [(ngModel)]="details.msgBody" name="msgBody" id="email-message" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Send</button>
  </form>
</div>

<app-footer></app-footer>

