<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
    [ngClass]="color === 'light' ? 'bg-white' : 'bg-red-900 text-white'">
    <div class="rounded-t mb-0 px-4 py-3 border-0">
        <div class="flex flex-wrap items-center">
            <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                <h3 class="font-semibold text-lg" [ngClass]="color === 'light' ? 'text-blueGray-700' : 'text-white'">
                    Appointment
                    <p class="card-category">
                    </p>
                </h3>
            </div>
        </div>
    </div>
    <div class="block w-full overflow-x-auto">
        <div class="table-responsive p-4">
            <form (ngSubmit)="onSubmit()">
                <div class="form-group mb-4">
                    <label class="input-label">Start Date</label>
                    <input type="datetime-local" class="form-control" id="startDate" [(ngModel)]="appointment.startDate"
                        name="startDate">
                </div>

                <div class="form-group mb-4">
                    <label class="input-label">End Date</label>
                    <input type="datetime-local" class="form-control" id="endDate" [(ngModel)]="appointment.endDate"
                        name="endDate">
                </div>

                <div class="form-group mb-4">
                    <label class="input-label" for="reason">Reason</label>
                    <select class="form-select" id="reason" name="reason" [(ngModel)]="appointment.reason">
                        <option value="RoutineCheckup">RoutineCheckup</option>
                        <option value="Vaccination">Vaccination</option>
                        <option value="Surgery">Surgery</option>
                    </select>
                </div>

                <div class="form-group mb-4">
                    <label class="input-label" for="location">Location</label>
                    <select class="form-select" id="location" name="location" [(ngModel)]="appointment.location">
                        <option value="Locally">Locally</option>
                        <option value="VeterinaryOffice">VeterinaryOffice</option>
                    </select>
                </div>


                <div class="form-group mb-4">
                    <label class="input-label">Notes</label>
                    <textarea type="text" class="form-control" row="3" id="notes" [(ngModel)]="appointment.notes" name="notes">
                    </textarea>   
                    </div>
                       
                <div class="form-group mb-4">
                <label class="input-label">Price</label>
                <input type="number" class="form-control" id="prix" [(ngModel)]="appointment.prix" name="prix">
                </div>

                <div class="form-group mb-4">

                    <label class="input-label">Pet</label>
                    <select class="form-select" id="pet" name="pet" [(ngModel)]="appointment.pet.idPet">
                        <option *ngFor = "let pet of pets" value="{{pet.idPet}}">{{pet.name}}</option>
                    </select>

                </div>

                    <div class="form-group mb-4">

                        <label for="pet">Doctor</label>
                        <select class="form-select" id="doctor" name="doctor" [(ngModel)]="appointment.doctor.id">
                            <option *ngFor = "let user of users" value="{{user.id}}">{{user.username}}</option>
                        </select>

                    </div>



                <div class="form-group">
                <button type="submit" class="btn btn-success">Submit</button>
                </div>
        </form>
    </div>
</div>
