<app-index-navbar></app-index-navbar>
<form class="form" (ngSubmit)="onSubmit()">

	<h2>Pet Profile</h2>
	<div class="form-group">
	  <label for="name">Name:</label>
	  <div class="relative">
		<input class="form-control" id="name" name="name" [(ngModel)]="pet.name" type="text" pattern="[a-zA-Z\s]+" required="" autofocus="" title="Pet name should only contain letters. e.g. Buddy" autocomplete="" placeholder="Type your pet's name here...">
		<i class="fa fa-dog"></i>
	  </div>
	</div>
	<div class="form-group">
	  <label for="specie">Specie:</label>
	  <div class="relative">
		<input class="form-control" id="specie" name="specie" [(ngModel)]="pet.specie" type="text" required="" placeholder="Type the species of your pet...">
		<i class="fa fa-paw"></i>
	  </div>
	</div>

	<div class="form-group">
		<label for="specie">Color:</label>
		<div class="relative">
		  <input class="form-control" id="color" name="color"  [(ngModel)]="pet.color" type="text" required="" placeholder="Type the color of your pet...">
		  <i class="fa fa-adjust"></i>
		</div>
	  </div>


	<div class="form-group">
	  <label for="weight">Weight:</label>
	  <div class="relative">
		<input class="form-control" id="weight" name="weight" [(ngModel)]="pet.weight" type="text" maxlength="10" oninput="this.value = this.value.replace(/[^0-9.,]/g, '')" required="" placeholder="Type your pet's weight...">
		<i class="fa fa-weight-hanging"></i>
	  </div>
	</div>
	<div class="form-group">
	  <label>Gender</label>
	  <label class="switch">
		<input class="switch-input" name="radio" type="checkbox" [(ngModel)]="pet.gender"/>
		<span class="switch-label" data-on="Male" data-off="Female"></span>
		<span class="switch-handle"></span>
	  </label>
	</div>
	<div class="form-group">
		<label for="vaccination">Vaccination Status</label>
		<select class="form-select" id="reason" name="reason" [(ngModel)]="pet.situation">
		  <option value="Vaccinated">Vaccinated</option>
		  <option value="Unvaccinated">Unvaccinated</option>
		</select>
	  </div>
	  
	<div class="form-group">
	  <label for="picture">Picture:</label>
	  <div class="relative">
		<input class="form-control" id="picture" name="picture" [(ngModel)]="pet.picture" type="file" required="" placeholder="Upload your pet's picture...">
		<i class="fa fa-paperclip"></i>
	  </div>
	</div>
	<div class="tright">
	  <a href=""><button class="movebtn movebtnre" type="Reset"><i class="fa fa-fw fa-refresh"></i> Reset </button></a>
	  <a href=""><button class="movebtn movebtnsu" type="Submit">Submit <i class="fa fa-fw fa-paper-plane"></i></button></a>
	</div>
  </form>
  
  <div class="thanks" style="display: none;">
	<h4>Thank you!</h4>
	<p><small>Your pet's profile has been successfully submitted.</small></p>
  </div>
  <app-footer></app-footer>