<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
  [ngClass]="color === 'light' ? 'bg-white' : 'bg-red-900 text-white'"
>
  <div class="rounded-t mb-0 px-4 py-3 border-0">
    <div class="flex flex-wrap items-center">
      <div class="container">
  

      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3
          class="font-semibold text-lg"
          [ngClass]="color === 'light' ? 'text-blueGray-700' : 'text-white'"
        >
        <h1>Create Training</h1>
        <hr>
        </h3>
      </div>
    </div>
  </div>


<form class="form-horizontal" [formGroup]= "trainingForm">
    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" id="title" class="form-control" formControlName="title" placeholder="Please specify the title of the training" [(ngModel)]= "training.title" style="margin-bottom: 15px;width: 100%;">
      
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" id="description" class="form-control" formControlName="description" placeholder="Please specify the description of the training" [(ngModel)]= "training.description" style="margin-bottom: 15px;width: 100%;">
      
      </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
          <input type="text" id="duration" class="form-control" formControlName="duration" placeholder="Please specify the duration of the training in minutes" formControlName="duration" [(ngModel)]= "training.duration" style="margin-bottom: 15px;width: 100%;">
         
          
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <input type="text" id="price" class="form-control" formControlName="price" placeholder="Please specify the price of the training " formControlName="price" [(ngModel)]= "training.price"style="margin-bottom: 15px;width: 100%;">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <select id="pet-type" class="form-select"formControlName="type" [(ngModel)]= "training.type"style="margin-bottom: 15px;width: 50%;">
            <option value="Cat">Cat</option>
            <option value="Dog">Dog</option>
          </select>
        </div>
      </div>
      
      

      <div class="form-group">
        <div class="col-sm-12">
          <input type="text" id="nbrplaces" class="form-control" placeholder="Please specify the places available for the training session" formControlName="nbrplaces" [(ngModel)]= "training.nbrplaces"style="margin-bottom: 15px;width: 100%;">
        </div>
      </div>

      

      <div class="form-group">
        <div class="col-sm-12">
          <input type="date" id="cDate" placeholder="Please specify the Date and Time" class="form-control" formControlName="cDate" [(ngModel)]= "training.cDate" style="margin-bottom: 15px;width: 100%;">
        </div>
      </div>
      

      <div class="post-actions">
        <button type="submit" class="btn btn-danger red-button"  (click)="onSubmit()" [disabled]="!trainingForm.valid" style="width: 20%;" >Submit</button>
        </div>

</form>