<app-index-navbar></app-index-navbar>
<section class="relative bg-cover bg-center h-screen" style="background-image: url('/assets/img/ressort_2.jpg');">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="container mx-auto px-4 pt-32">
    <div class="mx-auto text-center">
      <h1 class="text-5xl md:text-6xl text-white font-bold mb-6" data-aos="fade-up">Welcome to <em class="text-primary">PAWCARE</em> resort</h1>
      <p class="text-xl md:text-2xl text-white mb-10" >Discover our world-class hotel.</p>
      
    </div>
  </div>
</section>

<section class="section visit-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="heading" data-aos="fade-right">You Can Visit</h2>
      </div>
    </div>
    <div class="row" >
      <div class="col-lg-3 col-md-6 visit mb-3" data-aos="fade-right" *ngFor = "let hotel of hotelee" >
        <img src="http://localhost/img/{{hotel.data}}.jpg" alt="Image placeholder" class="img-fluid" (click)="hotelDetail(hotel.hotelId)"> 
        <h3 (click)="hotelDetail(hotel.hotelId)">{{ hotel.nomHotel }}</h3>
        <div class="reviews-star float-left">
          <span class="ion-android-star"></span>
          <span class="ion-android-star"></span>
          <span class="ion-android-star"></span>
          <span class="ion-android-star-half"></span>
          <span class="ion-android-star-outline"></span>
        </div>
        <span class="reviews-count float-right">
          3,239 reviews
        </span>
      </div>
      
      
      </div>
    </div>
  </section>
