<app-index-navbar></app-index-navbar>

<div class="content-wrapper">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center">Recent Trainings</h1>
      <hr>
      <!-- Add a search input field -->

      
      
      <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Search trainings" style="width:90% ">  
        
          <select class="form-control" id="pet-filter" [(ngModel)]="selectedPet" style="width:10% ">
            <option value="">All</option>
            <option value="Cat">Cats</option>
            <option value="Dog">Dogs</option>
          </select>
         
      </div>
      
    </div>

  </div>
 





  <div class="row">
    <div class="col-md-12">
      <div class="card-deck">
        <div class="card" *ngFor="let training of filteredTrainings">
          
  <div
  class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg mt-16"
>
  <div class="px-6">
    <div class="flex flex-wrap justify-center">
      <div class="w-full px-4 flex justify-center">
      </div>
      <div class="w-full px-4 text-center mt-20">
        <div class="flex justify-center py-4 lg:pt-4 pt-8">
          <div class="mr-4 p-3 text-center">
          </div>
          <div class="mr-4 p-3 text-center">
          </div>
          <div class="lg:mr-4 p-3 text-center">
            <div class="card-body">
              <h5 class="card-title"><strong>{{training.title}}</strong></h5>
              <h6 class="card-subtitle mb-2 text-muted"><strong>Duration:</strong> {{training.duration}}</h6>
              <p class="card-text"><strong>Description:</strong> {{training.description}}</p>
              <p class="card-text"><strong>Type:</strong> {{training.type}}</p>
              <p class="card-text"><strong>Price:</strong> {{training.price}}</p>
              <p class="card-text"><strong>Places:</strong> {{training.nbrplaces}}</p>
              <p class="card-text"><strong>Date:</strong> {{training.cDate | date:'MMM d, yyyy'}}</p>

              <form>
                <div class="form-group mb-4">
                  <label class="input-label">Pet</label>
                  <select class="form-select" id="pet"  [(ngModel)]= "selectedOption" required>
                      <option *ngFor = "let pet of pets" value="{{pet.idPet}}">{{pet.idPet}}</option>
                  </select>
              </div>

              </form>

              <div class="post-actions">
                <button (click)="reportTraining(training.idTraining)">Report</button>
                <button (click)="book(training.idTraining)" [disabled]="training.nbrplaces == 0">Reserve</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-12"> 
    </div>
    <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
      <div class="flex flex-wrap justify-center">
        <div class="w-full lg:w-9/12 px-4">
        
        </div>
      </div>
    </div>
  </div>
</div>

          
        </div>
      </div>
      <div class="text-center" *ngIf="filteredTrainings.length === 0">
        <p>No trainings found.</p>
      </div>
      

      
     
  

     
    </div>
  </div>  

  <div class="chart-container">
    <div class="bar" [style.height.px]="dogTrainingCount * 10">
      <span class="label">{{dogTrainingCount}}</span>
    </div>
    <div class="chart-label">Dog training</div> 
  
    <div class="bar" [style.height.px]="catTrainingCount * 10">
      <span class="label">{{catTrainingCount}}</span>
    </div>
    <div class="chart-label">Cat training</div> 
  </div>
</div>




<app-footer></app-footer>
