/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';
@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  
  .main-content {
    flex-grow: 1;
    padding-top: 70px; /* Adjust this value based on the height of your navbar */
    padding-bottom: 70px; /* Adjust this value based on the height of your footer */
  }
  
  