<app-index-navbar></app-index-navbar>
  <section class="wish">
    <p>Your List: <span id="wish-count">{{pets.length}}</span></p>
  </section>
  <main>
    <div class="card-container">
      <div class="animal-card" *ngFor="let pet of pets">
        <img [src]="'../../../../../../assets/Petimages/' + pet.picture" class="animal-profile-pic" alt="chips_pic"/>
      <h2>{{pet.name}}
</h2>
      <div class="button-wrapper">
        <button (click)="updatePet(pet.idPet)" class="wish-btn" id="chips-btn"style="margin-left: 10px">Update</button>
        <button (click)="deletePet(pet.idPet)" class="wish-btn delete-btn">Delete</button>
      </div>

    </div>
    </div>
  </main>

  <app-footer></app-footer>
  