body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: 0; 
    padding: 0;
  }
  
  #dog {
    height: 60px;
  }
  
  header {
    background-color: #F18F01;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 25px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 0.9;
  }
  
  nav {
    display: flex;
    width: 200px;
    justify-content: space-between;
  }
  
  .nav-link:hover {
    cursor: pointer;
    color: #89C4D0;
    font-weight: 500;
  }
  
  .wish {
    background-color: #048BA8;
    height: 50px;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 80px; /* Add margin equal to the height of the navbar */
  }
  
  
  footer {
    background-color: #F18F01;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }
  
  .email-sign-up {
    display: flex;
    align-items: center;
    width: 425px;
    justify-content: space-between;
  }
  
  input {
    width: 120px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  
  .animal-profile-pic {
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  main {
    display: flex;
    min-height: calc(100vh - 175px);
    align-items: center;
    justify-content: space-around;
    background-color: #D9D7D7;
  }
  
  .animal-card {
    background-color: #048BA8;
    height: 300px;
    width: 175px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  .wish-btn, #sign-up {
     font-family: 'M PLUS Rounded 1c', sans-serif;
     border: none;
    padding: 5px 10px;
    background-color: #F18F01;
    color: white;
    border-radius: 10px;
  }
  
  .wish-btn:hover, #sign-up:hover {
    box-shadow: 0 0 15px #048BA8;
  }

  .button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .wish-btn {
    margin-right: 10px; 
  }
  .delete-btn {
    background-color: red;
    color: white; /* For better contrast, set the text color to white */
  }
  
  

  main {
    min-height: calc(100vh - 175px);
    background-color: #D9D7D7;
    padding-top: 75px; /* Add padding equal to the height of the navbar */
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Change this from 'space-around' to 'space-evenly' or 'flex-start' */
    align-items: center;
    width: 100%;
  }
  
  .animal-card {
    background-color: #048BA8;
    height: 300px;
    width: 175px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 10px; /* Add margin to create some space between the cards */
  }
  